.dept
{
    .name
    {
        font-size: 18pt;
        font-weight: bold;
        cursor: pointer;
    }
    margin: 5px;
    padding: 10px;
    background-color: #424242;
    border-radius: 5px;
    color: white;
    text-align: center;

    .courses
    {
        display:none;
        overflow:hidden;
        width: 95%;
        margin-left: auto;
        margin-right: auto;
    }

    div.container
    {
        margin: 5px 1%;
        float:left;
        width: 31%;


        ul
        {
            margin-top: 5px;
            padding: 10px;
            border-radius: 5px;
            background-color: grey;

            padding-bottom:65000px;
            margin-bottom: -65000px;
            li
            {
                background-color: #c0c0c0;
                border-radius: 5px;
                padding: 3px;
                margin: 3px;
                cursor: move;
            }
        }
    }

    .name
    {
        text-decoration: none;
        color: white;
    }

    .name:hover
    {
        color: grey;
    }
}

#overlay
{
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: 1000;
    background-color: #000;
    opacity: .85;
    position: fixed;
}

#preferences
{
    display: none;
    overflow-y: auto;
    position: absolute;
    background-color: #424242;
    color: white;
    top: 200px;
    left: 25%;
    height: 200px;
    width: 50%;
    z-index: 1001;
    padding: 10px;
    border: 2px white solid;
    border-radius: 10px;
    position: fixed;
    text-align: center;

    .days
    {
        margin-top: 10px;

        li
        {
            background-color: #c0c0c0;
            border-radius: 5px;
            padding: 3px;
            margin: 3px;
        }

        .selected
        {
            background-color: #737373;
        }
    }
}

#overlay > .close
{
    position:absolute;
    top: 22%;
    right: 22%;
    width: 40px;
    height: 40px;
    background-image: url('/static/accounts/i/close.png');
    background-size: contain;
}
