.dept
{
    .name
    {
        font-size: 18pt;
        font-weight: bold;
    }
    margin: 5px;
    padding: 10px;
    background-color: #424242;
    border-radius: 5px;
    color: white;
    text-align: center;

    .courses
    {
        display:none;
        overflow:hidden;
        width: 95%;
        margin-left: auto;
        margin-right: auto;
    }

    div.container
    {
        margin: 5px 1%;
        float:left;
        width: 31%;

        .title
        {

        }

        ul
        {
            margin-top: 5px;
            padding: 10px;
            border-radius: 5px;
            background-color: grey;

            padding-bottom:65000px;
            margin-bottom: -65000px;
            li
            {
                background-color: #c0c0c0;
                border-radius: 5px;
                padding: 3px;
                margin: 3px;
            }
        }
    }

    .name
    {
        text-decoration: none;
        color: white;
    }

    .name:hover
    {
        color: grey;
    }
}
