{% extends "base.html" %}

{% block js %}
    {{ block.super }}
    <script type="text/javascript">

    $(document).ready(function(){
        $(".name").click(function(){
            alert("hi");
            return false;
        });
    });

    </script>
{% endblock js %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" type="text/less" href="{{STATIC_URL}}accounts/c/schedule.less" />
{% endblock css %}

{% block body %}
    Please select your department:

    {% for dept in depts %}
        <div class="dept">
            <a class="name" href="#">{{dept}}</a>

            <div class="courses">Courses would be here!</div>
        </div>
    {% endfor %}
{% endblock body %}
